.Hero {
    background-image: url("bg/anna-hliamshyna-VDR-uVIHP_8-unsplash.jpg");
    height: clamp(100px, 30vw, 400px);
}

.HeroContent h1 {
    font-size: 12rem;
}

.Accordion {
    margin: 20px 0;

    display: flex;
    flex-flow: column;
}

.Accordion .Category {
    margin: 3rem 6rem;
}

.AccordionInput {
    display: none;
}

.AccordionLabel {
    font-size: 4rem;

    display: block;

    padding: 0 10px;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;

    width: 100%;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
}

.AccordionLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 3rem;
    height: 3rem;
    background-image: url("bg/arrow-down-sign-to-navigate.png");
    background-size: contain;
    transition: transform 0.6s;
}

.AccordionContent {
    display: none;
    margin: 10px 4rem;
}

.AccordionInput:checked ~ .AccordionContent {
    display: block;
}

.AccordionInput:checked ~ .AccordionLabel::after {
    transform: translateY(-50%) rotate(0.5turn);
}

.Products {
    margin: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.Products .Product {
    padding-top: 0;
    min-height: 423px;
}

.ProductLabel .ProductName {
    text-align: left;
}

.ProductLabel .ProductPrice {
    font-size: 20px;
}

.Product .Overlay .ProductName {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 23px;
}

.Product .Overlay {
    padding: 12px 16px;
}

.Product .Overlay .ProductDescription {
    text-align: left;
    font-size: 12px;
}

.Product .Overlay .Button {
    border: none;
    background-color: #494545;
    width: 90%;
    padding: 5px;
    font-size: 16px;
}